.gridContainer {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 281px);
  gap: 15px;
}

.gridItem--1 {
  grid-column: 1/4;
  grid-row: 1/5;
}
.gridItem--2 {
  grid-column: 4/10;
  grid-row: 1/5;
}
.gridItem--3 {
  grid-column: 10/13;
  grid-row: 1/5;
}
.gridItem--4 {
  grid-column-start: 1;
  grid-column-end: 4;
  grid-row: 5/9;
}
.gridItem--5 {
  grid-column-start: 4;
  grid-column-end: 7;
  grid-row: 5/9;
}
.gridItem--6 {
  grid-column-start: 7;
  grid-column-end: 13;
  grid-row: 5/9;
}
